---
---


@import "minima";

$alternatingItemBackground : #f6f9f1;
$highlightColor : #bdc9a7;

body {
    position: relative;
}

header {
    z-index: 500;
}

main {
    z-index: 1;
}

// style external links with a postmark.

a[href]:not(:where(
    /* exclude hash only links */
    [href^="#"],
    /* exclude relative but not double slash only links */
    [href^="/"]:not([href^="//"]),
    /* domains to exclude */
    [href*="//plaympls.org"],
    /* subdomains to exclude */
    [href*="//www.plaympls.org"],
    )):after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /%3E%3C/svg%3E%0A");
        width: 1ch;
        display: inline-block;
        margin-left: 5px;
}

hr {
    color: $highlightColor;
    width: 50%;
    margin: 2em auto;
}

table thead th {
    background: $highlightColor;
}

// the contact lists, such as the list of mpls officials.

.contact-list {
    float: none;
    
    p {
        margin: 0;
    }
    h3 {
        margin: 1em 0 0 0;
        &:first-of-type {
            margin: .1em 0 0 0;
        }
    }
    .org {
        padding: 10px;
        margin-bottom: 10px;
        background-color: $alternatingItemBackground;
        h2 {
            font-size: 1.1em;
            background: $highlightColor;
            padding: 5px 2px;
        }
    }
}

@media screen and (min-width: 800px) {
    .contact-list {
        float: right;
    }
}

.posts-group h2 {
    font-size: .9em;
}

.in-brief {
    margin-bottom: 3vh;
    border: 1px solid gray;
    padding: 1vh 2vw;
    .short-posts-list {
        list-style: none;
        margin-left:0;
        li:hover {
            background-color: $alternatingItemBackground;
        }
        .post-title {
            font-size: 1em;
        }
        .post-date {
            color: gray;
        }
        li p {
            display: inline;
        }
    }
}


.long-posts-list {
    margin-left: 0;
    li {
        list-style: none;
        padding: 20px 10px;
        .post-title {
            font-size: 2em;
        }
        .post-date {
            font-size: .9em;
            color: gray;
            margin-bottom: 1em;
        }
        .more {
            text-align: center;
            text-decoration: underline;
        }
        &:nth-child(odd) {
            background-color: $alternatingItemBackground;
        }
    }
}

.dates-banner {
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 20px;
    overflow-x: auto;
    z-index:0;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        gap: 10px;
        margin-left: 0;
        li {
            flex: 1 0 200px;
            padding: 15px 5px;
            &:nth-child(odd) {
                background: $alternatingItemBackground;
            }
            .event-title {
                font-weight: bold;
                margin-bottom: 0;
                line-height: 1em;

            }
            .event-date {
                font-weight: 200;
                font-size: .9em;
                letter-spacing: .1ch;
                color: gray;
            }
            .event-description {
                font-size: .9em;
            }
        }
    }
}

// site navigation menu
// mobile
.site-nav {
    z-index: 500;
}

iframe.g-form {
    width: 100%;
    background-color: $alternatingItemBackground;
}